@font-face {
    font-family: 'Century Gothic';
    src: url('font/Century_Gothic.ttf') format('truetype');
}
html{
    font-family: 'Century Gothic';
}
:root{
    --clr-background: #ded5c7;
    --clr-dark:#865942;
    --clr-light: #e9e3df;
}

body {
    background-color:var(--clr-background);
}
table{
    border-spacing: initial;
}

.tram__rowHeader{
    background-color: var(--clr-dark) ;
    color: var(--clr-background);
}

.tram__line:nth-child(odd){
    background-color: var(--clr-light);
}
.tram__line--2:nth-child(even){
    background-color:var(--clr-light);
}